@import "src/styles";

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
  align-items: center;
}

.icon {
  color: @brown-color;
}

.icons {
  display: flex;
  gap: 3.125rem;
}

.logo {
  font-weight: 500;
  font-size: 24px;

  &:hover {
    color: @beige-color;
  }

  text-decoration-line: none;
}
