<div class="wrapper">
  <div class="title">Войти</div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label tuiLabel>
      Почта
      <tui-textfield>
        <input
          tuiTextfield
          type="email"
          formControlName="email"
        />
      </tui-textfield>
    </label>
    <div>
    <label tuiLabel>
      Пароль
      <tui-textfield>
        <input
          tuiTextfield
          type="password"
          formControlName="password"
        />
      </tui-textfield>
    </label>
    <div class="forgot-password link">Забыли пароль?</div>
    </div>
    <div>Еще не имеете аккаунт? <a class="link" routerLink="/registration">Зарегистрируйтесь</a></div>
    <button
      size="l"
      tuiButton
      type="submit"
      appearance="beige-button"
      [disabled]="loginForm.invalid"
    >
      Войти
    </button>
  </form>
</div>
