@import "styles";
@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  --tui-background-accent-1: @pink-color;
}

.gift {
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  gap: 60px;
}

.title {
  margin-bottom: 20px;
  .title-font
}

.title-font {
  color: @scarlet-color;
  font-weight: 800;
  font-size: 32px;
}

.card-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.rating {
  color: @dark-beige;
  font-size: 24px;
  font-weight: 600;
}

.rating-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.rating-count {
  color: @dark-beige;
  font-size: 20px;
  font-weight: 600;
}

.gift-info {
  display: flex;
  margin-top: 25px;
  margin-bottom: 42px;
  flex-direction: column;
  gap: 10px;
}

.category {
  color: @dark-beige;
  font-weight: 600;
  font-size: 16px;
  min-width: 170px;
  max-width: 200px;
}

.category-value {
  .category;
  color: @brown-color;
}

.category-info {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

[tuiAppearance][data-appearance='beige-button'] {
  color: @brown-color;
  background: @beige-color;

  .appearance-hover({
    color: @brown-color;
    background:@light-beige-color;
  });

  .appearance-active({
    color: @white-color;
    background: @brown-color;
  });
}

[tuiAppearance][data-appearance='pink-button'] {
  color: @scarlet-color;
  background: @pink-color;

  .appearance-hover({
    color: @scarlet-color;
    background: @light-beige-color;
  });

  .appearance-active({
    color: @pink-color;
    background: @scarlet-color;
  });
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tab {
  font-size: 24px;
  font-weight: 700;
  color: @dark-beige;
  &._active {
    color: @brown-color;
  }
}

tui-tabs {
  box-shadow: none;
}

.right-block {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
}

.description {
  font-weight: 500;
  font-size: 18px;
  color: @brown-color;
  margin-top: 40px;
  max-width: 800px;
}

.recommended {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
