@import "src/styles";

.footer-wrapper {
  background-color: @light-beige-color;
  padding: 50px 0;
  position:fixed;
  bottom:0;
  width: 100%;
  color: @brown-color;
}

.footer {
  display: flex;
  gap: 77px;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-around;

  span:hover {
    color: @beige-color;
  }
}

.logo {
  font-size: 24px;
}

.additional-info {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.contacts {
  display: flex;
  gap: 72px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 157px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 36px;
  height: 36px;
  color: @dark-beige;
}
