<div class="wrapper">
  <div class="filters-wrapper">
    <div class="filters-title">Выбор категорий</div>
    <div class="filters">
      @for (filter of filters; track filter) {
        <filter [title]="filter.title" [items]="filter.items"></filter>
      }
    </div>
    <div class="filters budget">
      <div class="budget-title">Какой бюджет?</div>
      <tui-input-range
        [formControl]="budgetControl"
        [max]="maxBudget"
        [min]="minBudget"
        [steps]="steps"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldSize]="'m'"
      ></tui-input-range>
    </div>
    <div class="buttons">
      <button tuiButton
              size="m"
              appearance="beige-button"
      >
        Применить
      </button>
      <button tuiButton
              size="m"
              appearance="white-button"
              (click)="clearFilters()"
      >
        Сбросить
      </button>
    </div>
  </div>
  <div>
    <div class="gifts-title">Популярные подарки</div>
    <div class="gifts-wrapper">
      @for (gift of gifts; track gift) {
        <gift-card
          [id]="gift.id"
          [price]="gift.price"
          [giftTitle]="gift.title"
          [rating]="gift.rating"
          [ratingCount]="gift.ratingCount"
        ></gift-card>
      }
    </div>
  </div>
</div>
