@if (count$ | async) {
  <div class="wrapper">
    <div class="title">Корзина</div>
    <div class="selected-all">
      <input
        tuiCheckbox
        type="checkbox"
        class="checkbox"
        [(ngModel)]="selectedAll"
      />
      <div class='count'>Выбрать все ({{ count$ | async }})</div>
      <button tuiIconButton
              iconStart="@tui.trash"
              appearance="icon"
              size="s"
              (click)="clearCart()"></button>
    </div>
    <div class="content">
      <div class="list">
        @for (item of cartItems(); track item.id) {
          <cart-item
            [item]="item"
          ></cart-item>
        }
      </div>
      <div>
        <div class="order-title">Оформление заказа</div>
        <div class="order-labels">
          @for (label of orderLabels; track label) {
            <div class="category-info">
              <div class="category">{{ label }}</div>
              <div class="category-value">_</div>
            </div>
          }
        </div>
        <div class="price">
          <div>
            ИТОГО
          </div>
          <div>
            {{ finalPrice() }}
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="empty">
    <div class="description">Ваша корзина пока пуста :(</div>
    <div class="article">...но у нас много подарков, которые ждут, чтобы стать вашими!</div>
    <div class="navigate">
      <button tuiButton
              size="l"
              appearance="beige-button"
              (click)="toMain()"
      >
        Перейти на главную страницу
      </button>
    </div>
  </div>
}
<div class="recommended">
  <recommended></recommended>
</div>
